<%- include("../views/partials/header", { title: 'Swandor', name: 'reservation' })-%>

<script>
    $(document).ready(function () {
        $("input[type='radio']").change(function () {
            var inputValue = $(this).val();
            filterTable(inputValue);
        });

        $("input[name='status'][value='all']").prop("checked", true);
        filterTable("all");

        function filterTable(value) {
            if (value == 'all') {
                $("table tbody tr").show();
            } else {
                $("table tbody tr").hide();
                $("table tbody tr[data-status='" + value + "']").show();
            }
        }
        var today = new Date().toISOString().split('T')[0];
        $("#checkInDate").attr("min", today);
        // Add event listener for Check In change
        $("#checkInDate").on("change", function () {
            var checkInDate = new Date($(this).val());
            var checkOutDate = new Date($("#checkOutDate").val());
            // If Check Out date is earlier than Check In date, reset Check Out date
            if (checkOutDate < checkInDate) {
                $("#checkOutDate").val($(this).val());
            }
            // Set minimum for Check Out date
            $("#checkOutDate").attr("min", $(this).val());
        });
        // Disable past dates for Check Out
        $("#checkOutDate").attr("min", today);
        

        // Add this code to change row colors based on data-status
        $("table tbody tr").each(function () {
            var status = $(this).attr("data-status");
            switch (status) {
                case "onaylandi":
                    $(this).addClass("table-success");
                    break;
                case "reddedildi":
                    $(this).addClass("table-danger");
                    break;
                case "beklemede":
                    $(this).addClass("table-light");
                    break;
                case "suresi-doldu":
                    $(this).addClass("table-dark");
                    break;
                // Add more cases if needed
            }
        });
        const tableContainer = document.getElementById('table-container');

        // Function to update the max-height based on the content
        function updateMaxHeight() {
            const table = tableContainer.querySelector('table');
            const tableHeight = table.getBoundingClientRect().height;
            const maxHeight = Math.min(600, tableHeight);
            tableContainer.style.maxHeight = maxHeight + 'px';

        }

        // Call the function initially and whenever the table content changes
        updateMaxHeight();
        });
</script>
</head>
<body>
    <%- include("../views/partials/navbar")-%>
    <div class="container-xl">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6"><h2>Rezervasyonlar</h2></div>
                        <div class="col-sm-6">
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-info">
                                    <input type="radio" name="status" value="beklemede"> Bekleyen
                                </label>
                                <label class="btn btn-success">
                                    <input type="radio" name="status" value="onaylandi"> Onaylanan
                                </label>
                                <label class="btn btn-danger">
                                    <input type="radio" name="status" value="reddedildi"> Reddedilen
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
				<form action="/new" method="POST" class="form-inline">
                    <div class="input-group">
                
                        <input type="date" id="checkInDate" name="checkInDate" class="form-control" required placeholder="Giriş Tarihi">
                
                        <input type="date" id="checkOutDate" name="checkOutDate" class="form-control" required placeholder="Çıkış Tarihi">
                        
                
                        <select id="hotel" name="hotel" class="form-control" required>
                            <option value="" disabled selected>Otel</option>
                            <% roomType.forEach((roomType) => { %>
                                <option value="<%= roomType.hotel %>">
                                    <%= roomType.hotel %>
                                </option>
                            <% }); %>
                        </select>
                
                        <select id="roomType" name="roomType" class="form-control" required>
                            <option value="" disabled selected>Oda Tipi</option>
                            <% roomType.forEach((roomType) => { %>
                                <option value="<%= roomType.roomType %>">
                                    <%= roomType.roomType %>
                                </option>
                            <% }); %>
                        </select>
                
                        <select id="agency" name="agency" class="form-control" required>
                            <option value="" disabled selected>Acente</option>
                            <% agencies.forEach((agency) => { %>
                                <option value="<%= agency.name %>" >
                                    <%= agency.name %>
                                </option>
                            <% }); %>
                        </select>
                
                        <textarea class="form-control" id="description" name = "description" rows="1" placeholder="Açıklama"></textarea>
                
                        <button type="submit" class="btn btn-primary">Rezervasyon Ekle</button>
                    </div>
                </form>
                <div id="table-container" style="overflow-x: auto;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Rezervasyon ID</th>
                                <th>Check In / Check Out</th>
                                <th>Otel</th>
                                <th>Oda Türü</th>
                                <th>Acente</th>
                                <th>Açıklama</th>
                                <th>Durum</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% reservationData.reverse().forEach((reservation) => { %>
                                <tr data-status="<%= reservation.status %>">
                                    <td><%= reservation.reservationId %></td>
                                    <td><%= reservation.checkInDate.toLocaleDateString('tr-TR', { day: 'numeric', month: 'numeric' }).replace(/\//g, '.') %> - <%= reservation.checkOutDate.toLocaleDateString('tr-TR', { day: 'numeric', month: 'numeric' }).replace(/\//g, '.') %></td>
                                    <td><%= reservation.hotel %></td>
                                    <td><%= reservation.roomType %></td>
                                    <td><%= reservation.agency %></td>
                                    <td><%= reservation.description %></td>
                                    <td><%= reservation.status %></td>
                                    <td>
                                        <% if (reservation.status === 'beklemede') { %>
                                            <div class="btn-group" role="group">
                                            <button class="btn btn-link" data-toggle="tooltip" title="Düzenle"><i class="fas fa-pencil-alt"></i></button>
                                            <button class="btn btn-link" data-toggle="tooltip" title="İptal Et"><i class="fas fa-times"></i></button>
                                            </div>
                                        <% } else { %>
                                            <!-- Add any other buttons or actions you need for different status here -->
                                        <% } %>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                        
                        
                    </table>
            </div>
    </div>
</body>
</html>
<%- include("../views/partials/footer")-%>
