<%- include("../views/partials/header", {title:'Swandor',name : 'reservation'})-%>

<script>
$(document).ready(function(){
	$(".btn-group .btn").click(function(){
		var inputValue = $(this).find("input").val();
		if(inputValue != 'all'){
			var target = $('table tr[data-status="' + inputValue + '"]');
			$("table tbody tr").not(target).hide();
			target.fadeIn();
		} else {
			$("table tbody tr").fadeIn();
		}
	});
	// Changing the class of status label to support Bootstrap 4
    var bs = $.fn.tooltip.Constructor.VERSION;
    var str = bs.split(".");
    if(str[0] == 4){
        $(".label").each(function(){
        	var classStr = $(this).attr("class");
            var newClassStr = classStr.replace(/label/g, "badge");
            $(this).removeAttr("class").addClass(newClassStr);
        });
    }
});
</script>
</head>
<body>
<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6"><h2>Rezervasyonlar</h2></div>
                    <div class="col-sm-6">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-info active">
                                <input type="radio" name="status" value="all" checked="checked"> All
                            </label>
                            <label class="btn btn-success">
                                <input type="radio" name="status" value="active"> Active
                            </label>
                            <label class="btn btn-warning">
                                <input type="radio" name="status" value="revise"> Inactive
                            </label>
                            <label class="btn btn-danger">
                                <input type="radio" name="status" value="rejected"> Rejected
                            </label>				
                        </div>
                    </div>
                </div>
            </div>
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th>#</th>
						<th>Request Type</th>
						<th>Check-In Date</th>
						<th>Check-Out Date</th>
						<th>Room Type</th>
						<th>Agency</th>
						<th>Added By</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
					<% reservationData.forEach((reservation, index) => { %>
						<tr>
							<td><%= index + 1 %></td>
							<td><%= reservation.requestType %></td>
							<td><%= reservation.checkInDate.toDateString() %></td>
							<td><%= reservation.checkOutDate.toDateString() %></td>
							<td><%= reservation.roomType.name %></td> <!-- Assuming 'name' is the room type field -->
							<td><%= reservation.agency.name %></td> <!-- Assuming 'name' is the agency name field -->
							<td><%= reservation.addedBy.username %></td> <!-- Assuming 'username' is the user's username field -->
							<td><%= reservation.status %></td>
						</tr>
					<% }); %>
				</tbody>
			</table>
		
        </div> 
    </div>   
</div> 
</body>
</html>                                		

<%- include("../views/partials/footer")-%>