<%- include("../views/partials/header", { title: 'Swandor', name: 'reservation' })-%>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const modal = new bootstrap.Modal(document.getElementById("reservationModal"));
        const reservationForm = document.getElementById("reservationForm");

        // "Rezervasyon Ekle" düğmesine tıklanınca modalı aç
        document.getElementById("openModalButton").addEventListener("click", function () {
            modal.show();
        });

        // "Rezervasyon Ekle" düğmesine tıklanınca formu gönder
        document.getElementById("submitReservation").addEventListener("click", function () {
            // Form verilerini alabilir ve sunucuya gönderebilirsiniz.
            // Örnek: Ajax veya fetch kullanarak veriyi sunucuya POST edebilirsiniz.

            // Form gönderildikten sonra modalı kapat
            modal.hide();
        });

        $("input[type='radio']").change(function () {
            var inputValue = $(this).val();
            filterCards(inputValue);
        });

        $("input[name='status'][value='all']").prop("checked", true);
        filterCards("all");

        function filterCards(value) {
            if (value == 'all') {
                $(".order-list").show();
            } else {
                $(".order-list").hide();
                $(".order-list.status-" + value).show();
            }
        }

        var today = new Date().toISOString().split('T')[0];
        $("#checkInDate").attr("min", today);
        // Add event listener for Check In change
        $("#checkInDate").on("change", function () {
            var checkInDate = new Date($(this).val());
            var checkOutDate = new Date($("#checkOutDate").val());
            // If Check Out date is earlier than Check In date, reset Check Out date
            if (checkOutDate < checkInDate) {
                $("#checkOutDate").val($(this).val());
            }
            // Set minimum for Check Out date
            $("#checkOutDate").attr("min", $(this).val());
        });
        // Disable past dates for Check Out
        $("#checkOutDate").attr("min", today);

        const hotelDropdown = document.getElementById('hotel');
        hotelDropdown.addEventListener('change', () => {
            const roomDropdown = document.getElementById('roomName');
            roomDropdown.innerHTML = '<option value="" disabled selected>Oda Tipi</option>';

            const hotelName = hotelDropdown.value;
            fetch(`/getRooms/${hotelName}`)
                .then((response) => {
                    return response.json();
                })
                .then((rooms) => {
                    rooms.forEach((room) => {
                        const option = document.createElement('option');
                        option.value = room;
                        option.textContent = room;
                        roomDropdown.appendChild(option);
                    });
                });
        });
    });
</script>

</head>
<body>
<%- include("../views/partials/navbar")-%>
<div class="container-xl">
    <div class="table-title">
        <div class="row">
            <div class="col-sm-6"><h2>Rezervasyonlar</h2></div>
            <div class="col-sm-6">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info">
                        <input type="radio" name="status" value="beklemede"> Bekleyen
                    </label>
                    <label class="btn btn-success">
                        <input type="radio" name="status" value="onaylandi"> Onaylanan
                    </label>
                    <label class="btn btn-danger">
                        <input type="radio" name="status" value="reddedildi"> Reddedilen
                    </label>
                </div>
            </div>
        </div>
    </div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reservationModal">Yeni Rezervasyon</button>

<!-- Modal -->
<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="reservationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reservationModalLabel">Yeni Rezervasyon Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/new" method="POST" class="form-inline">
                    <div class="input-group">
                        <input type="date" id="checkInDate" name="checkInDate" class="form-control" required placeholder="Giriş Tarihi">
                        <input type="date" id="checkOutDate" name="checkOutDate" class="form-control" required placeholder="Çıkış Tarihi">
                        <select id="hotel" name="hotel" class="form-control" required>
                            <option value="" disabled selected>Otel</option>
                            <% hotels.forEach((hotel) => { %>
                                <option value="<%= hotel.name %>"><%= hotel.name %></option>
                            <% }); %>
                        </select>
                        <select id="roomName" name="roomName" class="form-control" required>
                            <option value="" disabled selected>Oda Tipi</option>
                        </select>
                        <select id="agency" name="agency" class="form-control" required>
                            <option value="" disabled selected>Acente</option>
                            <% agencies.forEach((agency) => { %>
                                <option value="<%= agency.name %>"><%= agency.name %></option>
                            <% }); %>
                        </select>
                        <textarea class="form-control" id="description" name="description" rows="1" placeholder="Açıklama"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="submit" class="btn btn-primary">Rezervasyon Ekle</button>
            </div>
        </div>
    </div>
</div>

    <div class="card-container">
        <div class="osahan-account-page-right shadow-sm bg-white p-4 h-100">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade active show" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                    <% reservationData.reverse().forEach((reservation) => { %>
                    <div class="card mb-4 order-list shadow-sm status-<%= reservation.status %>">
                        <div class="gold-members p-4">
                            <div class="media">
                                <div class="media-body">
                                    <span class="float-right text-info"><%= reservation.agency %> - <%= reservation.reservationId %></span>
                                    <h6 class="mb-2">
                                        <p class="text-black"><%= reservation.hotel %> - <%= reservation.roomType %></p>
                                    </h6>
                                    <div class="d-flex justify-content-between">
                                        <div class="left-col">
                                            <h3 class="text-gray mb-1"><i class="icofont-location-arrow"></i> <%= reservation.checkInDate.toLocaleDateString('tr-TR', { day: 'numeric', month: 'numeric' }).replace(/\//g, '.') %> - <%= reservation.checkOutDate.toLocaleDateString('tr-TR', { day: 'numeric', month: 'numeric' }).replace(/\//g, '.') %></h3>
                                            <p class="mb-0 text-black text-primary pt-2"><span class="text-black font-weight-bold"> Durum:</span> <%= reservation.status %></p>
                                        </div>
                                        <div class="text-center middle-col">
                                            <p class="text-gray text-limit mb-3"><i class="icofont-list"></i> <%= reservation.description %></p>
                                        </div>
                                        <div class="right-col">
                                            <div class="float-right">
                                                <% if (reservation.status === 'beklemede') { %>
                                                    <form action="/delete/<%= reservation._id %>" method="POST" style="display: inline;">
                                                        <input type="hidden" name="status" value="deleted">
                                                        <button class="btn btn-link" data-toggle="tooltip" title="İptal Et"><i class="fa-solid fa-xmark fa-2xl" style="color: #333c46;"></i></button>
                                                    </form>
                                                <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../views/partials/footer")-%>

<!-- Modal -->
<div class="modal fade" id="reservationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Rezervasyon Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Rezervasyon ekleme formu -->
                <form action="/new" method="POST">
                    <div class="form-group">
                        <label for="checkInDate">Giriş Tarihi</label>
                        <input type="date" id="checkInDate" name="checkInDate" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="checkOutDate">Çıkış Tarihi</label>
                        <input type="date" id="checkOutDate" name="checkOutDate" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="hotel">Otel</label>
                        <select id="hotel" name="hotel" class="form-control" required>
                            <option value="" disabled selected>Otel Seçin</option>
                            <% hotels.forEach((hotel) => { %>
                                <option value="<%= hotel.name %>"><%= hotel.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="roomName">Oda Tipi</label>
                        <select id="roomName" name="roomName" class="form-control" required>
                            <option value="" disabled selected>Oda Tipi Seçin</option>
                            <!-- Oda tiplerini buraya ekleyin -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="agency">Acente</label>
                        <select id="agency" name="agency" class="form-control" required>
                            <option value="" disabled selected>Acente Seçin</option>
                            <% agencies.forEach((agency) => { %>
                                <option value="<%= agency.name %>"><%= agency.name %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="description">Açıklama</label>
                        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Açıklama"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Rezervasyon Ekle</button>
                </form>
            </div>
        </div>
    </div>
</div>
