<%- include("../views/partials/header", { title: 'Swandor', name: 'reservation' })-%>

<script>
    $(document).ready(function () {
        $("input[type='radio']").change(function () {
            var inputValue = $(this).val();
            filterTable(inputValue);
        });

        $("input[name='status'][value='beklemede']").prop("checked", true);
        filterTable("beklemede");


        function filterTable(value) {
            if (value == 'all') {
                $("table tbody tr").show();
            } else {
                $("table tbody tr").hide();
                $("table tbody tr[data-status='" + value + "']").show();
            }
        }

        // Add this code to change row colors based on data-status
        $("table tbody tr").each(function () {
            var status = $(this).attr("data-status");
            switch (status) {
                case "onaylandi":
                    $(this).addClass("table-success");
                    break;
                case "reddedildi":
                    $(this).addClass("table-danger");
                    break;
                case "beklemede":
                    $(this).addClass("table-light");
                    break;
                // Add more cases if needed
            }
        });
        const tableContainer = document.getElementById('table-container');

        // Function to update the max-height based on the content
        function updateMaxHeight() {
            const table = tableContainer.querySelector('table');
            const tableHeight = table.getBoundingClientRect().height;
            const maxHeight = Math.min(600, tableHeight);
            tableContainer.style.maxHeight = maxHeight + 'px';

        }

        // Call the function initially and whenever the table content changes
        updateMaxHeight();
    });
</script>
</head>
<body>
    <%- include("../views/partials/navbarManagement")-%>
    <div class="container-xl">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6"><h2>Rezervasyonlar</h2></div>
                    <div class="col-sm-6">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-info">
                                <input type="radio" name="status" value="beklemede" checked> Bekleyen
                            </label>
                            <label class="btn btn-success">
                                <input type="radio" name="status" value="onaylandi"> Onaylanan
                            </label>
                            <label class="btn btn-danger">
                                <input type="radio" name="status" value="reddedildi"> Reddedilen
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="table-container" style="overflow-x: auto;">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Reservasyon ID'si</th>
                            <th>Check In / Check Out</th>
                            <th>Otel</th>
                            <th>Oda Türü</th>
                            <th>Açıklama</th>
                            <th>Durum</th>
                            <th>Düzenle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% reservationData.reverse().forEach((reservation) => { %>
                            <tr data-status="<%= reservation.status %>">
                                <td><%= reservation.reservationId %></td>
                                <td><%= reservation.checkInDate.toLocaleDateString('tr-TR', { day: 'numeric', month: 'numeric' }).replace(/\//g, '.') %> - <%= reservation.checkOutDate.toLocaleDateString('tr-TR', { day: 'numeric', month: 'numeric' }).replace(/\//g, '.') %></td>
                                <td><%= reservation.hotel %></td>
                                <td><%= reservation.roomType %></td>
                                <td><%= reservation.description %></td>
                                <td><%= reservation.status %></td>
                                <td style="width: 1%;">
                                    <form action="/update/<%= reservation._id %>" method="POST" style="display: inline;">
                                        <input type="hidden" name="status" value="onaylandi">
                                        <button type="submit" class="btn btn-link"data-toggle="tooltip" title="Onayla"><i class="fas fa-check"></i></button>
                                    </form>
                                    <form action="/update/<%= reservation._id %>" method="POST" style="display: inline;">
                                        <input type="hidden" name="status" value="reddedildi">
                                        <button type="submit" class="btn btn-link"data-toggle="tooltip" title="Reddet"><i class="fas fa-times"></i></button>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
            </table>
        </div>
    </div>
</body>
</html>

<%- include("../views/partials/footer")-%>
